<div class="table-container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>
            <app-sort-header
              label="Name"
              columnKey="name"
              [activeColumn]="sortColumn"
              [direction]="sortDirection"
              (sortChange)="sortData($event)"
            ></app-sort-header>
          </th>

          <th>
            <app-sort-header
              label="Capital"
              columnKey="capital"
              [activeColumn]="sortColumn"
              [direction]="sortDirection"
              (sortChange)="sortData($event)"
            ></app-sort-header>
          </th>

          <th>
            <app-sort-header
              label="Currency"
              columnKey="currency"
              [activeColumn]="sortColumn"
              [direction]="sortDirection"
              (sortChange)="sortData($event)"
            ></app-sort-header>
          </th>

          <th>Status</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th class="px-4 py-2">
            <input
              type="text"
              class="border rounded px-2 py-1 w-full"
              placeholder="Filter by Name"
              [(ngModel)]="filters['name']"
              (input)="applyFilters()"
            />
          </th>
          <th class="px-4 py-2">
            <input
              type="text"
              class="border rounded px-2 py-1 w-full"
              placeholder="Filter by Capital"
              [(ngModel)]="filters['capital']"
              (input)="applyFilters()"
            />
          </th>
          <th class="px-4 py-2">
            <input
              type="text"
              class="border rounded px-2 py-1 w-full"
              placeholder="Filter by Currency"
              [(ngModel)]="filters['currency']"
              (input)="applyFilters()"
            />
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      @if(paginatedData.length ){
      <tbody>
        @for (item of paginatedData; track item.name.common; let i = $index) {
        <tr
          (click)="onRowClick($event, item)"
          (dblclick)="onRowDblClick($event, item, i)"
        >
          <td>{{ item.name.common }}</td>
          <td>{{ item.capital[0] }}</td>
          <td>
            @for (currency of item.currencies | keyvalue; track currency.key) {
            <span class="currency">
              <span>Currency: {{ currency.key }}</span>
              <span>Name: {{ currency.value.name }}</span>
              <span>Symbol: {{ currency.value.symbol }}</span>
            </span>
            }
          </td>
          <td>{{ item.status }}</td>
          <td>
            <button (click)="deleteRecord(i)" class="delete-btn">Delete</button>
          </td>
        </tr>
        }
      </tbody>
      } @else {
      <p class="empty">There Is No Data</p>
      }
    </table>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [pageSizes]="pageSizes"
    [recordsPerPage]="recordsPerPage"
    (pageChange)="changeThePage($event)"
    (pageSizeChange)="PagesChangee($event)"
  >
  </app-pagination>
</div>

<app-preview-section [rowDetailes]="rowDetailes"></app-preview-section>

<app-edit-user-popup
  [openEditPopup]="openEditPopup"
  [editForm]="editForm"
  [currencies]="currencies"
  (close)="closePopup()"
  (save)="saveUser()"
></app-edit-user-popup>
